body header {
  padding-bottom: 109px;
  background-image: url('images/header_bg.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
}
body header nav {
  border-bottom: 1px solid #eeeeee;
  padding-top: 20px;
}
body header nav .container {
  display: flex;
  justify-content: space-between;
}
body header nav .container img {
  padding-bottom: 20px;
}
body header nav .container ul {
  align-self: flex-end;
}
body header nav .container ul li {
  display: inline-block;
  margin: 0 20px;
}
body header nav .container ul li a {
  display: block;
  text-decoration: none;
  padding-bottom: 36px;
  border-bottom: 6px solid transparent;
}
body header nav .container ul li a:hover,
body header nav .container ul li a.active {
  border-color: #11749e;
}
body header nav .container ul.social li {
  margin-left: 20px;
}
body header nav .container ul.social li a {
  border: none;
  padding: 0;
}
body header h2 {
  font-size: 152.54px;
  letter-spacing: -0.05em;
  line-height: 1;
  margin-top: 270px;
  text-transform: uppercase;
}
body header h2.sub {
  font-size: 24.79px;
  line-height: 51.1px;
  color: #11749e;
  letter-spacing: 0.74em;
  margin-top: 30px;
  margin-bottom: 113px;
  text-transform: none;
}
body header p {
  font-size: 13px;
  line-height: 22px;
}
body header .scroll-down {
  border-radius: 50%;
  border: 2px solid #ffffff;
  height: 30px;
  width: 30px;
  display: inline-block;
}
body #about {
  background-color: #11749e;
  padding: 103px 0 130px 0;
  text-align: center;
}
body #about h2 {
  font-size: 37px;
  line-height: 45px;
  position: relative;
  text-transform: uppercase;
}
body #about h2.after {
  padding: 70px 0;
}
body #about h2.after:after {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  content: 'W';
  font-size: 247.18px;
  line-height: 210.64px;
  color: #5993b2;
  z-index: -1;
}
body #about .boxes {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 68px;
}
body #about .boxes .box {
  width: 24%;
  min-width: 200px;
}
body #about .boxes .box .image {
  display: inline-block;
  background-color: #2e85aa;
  height: 132px;
  width: 132px;
  border-radius: 50%;
}
body #about .boxes .box .image i {
  font-size: 30px;
  line-height: 132px;
}
body #about .boxes .box h2 {
  font-size: 18px;
  line-height: 36px;
}
body #about .boxes .box p {
  text-align: left;
}
