@font-face {
  font-family: 'Gotham Book';
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  src: url('fonts/Gotham Book Regular.otf') format('opentype');
}
@font-face {
  font-family: 'Gotham Medium';
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  src: url('fonts/Gotham Medium.otf') format('opentype');
}
